<div class = "page">
    <div class = "myacc">
        <h1>Мой аккаунт</h1>
    </div>
    <div class="user-profile">
        <div class="user-photo">
          <img src="assets/user_photo.jpeg" alt="User Photo" class="rounded-photo">
        </div>
        <div class="user-details">
            <form>
                <h2>Имя пользователя</h2>
                <input type="text" name="userName" placeholder="Арман Кенесов">
                <h2>Почта</h2>
                <input type="tel" name="userPhone" placeholder="armankenesov76@gmail.com">
                <h2>Номер телефона</h2>
                <input type="tel" name="userPhone" placeholder="+7 (777) 7777 777">
              </form>
              <div class="car-details">
                <h1 class = "details">Детали автомобиля</h1>
                <form>
                    <h2>Марка автомобиля</h2>
                    <input type="text" name="carType" placeholder="Toyata Camry 2022">
                    <h2>Номер автомобиля</h2>
                    <input type="text" name="carNumber" placeholder="222ERA02">
                    <button type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    
</div>