<div class="page">
    <div class="myacc">
      <h1>Мой аккаунт</h1>
    </div>
    <div class="user-profile">
      <div class="user-photo">
        <img src="assets/user_photo.jpeg" alt="User Photo" class="rounded-photo">
      </div>
      <div class="user-details">
        <form (submit)="saveData($event)">
          <h2>Имя пользователя</h2>
          <input type="text" name="userName" placeholder="Арман Кенесов" [(ngModel)]="userName">
  
          <h2>Номер телефона</h2>
          <input type="tel" name="userPhone" placeholder="+7 (777) 7777 777" [(ngModel)]="userPhone">
  
          <div class="car-details">
            <h1 class="details">Детали автомобиля</h1>
            <h2>Марка автомобиля</h2>
            <input type="text" name="carType" placeholder="Toyota Camry 2022" [(ngModel)]="carType">
  
            <h2>Номер автомобиля</h2>
            <input type="text" name="carNumber" placeholder="222ERA02" [(ngModel)]="carNumber">
          </div>
  
          <!-- Payment Method Section -->
          <div class="payment-method">
            <h1 class="details">Платежные данные</h1>
  
            <h2>Номер карты</h2>
            <input type="text" name="cardNumber" placeholder="1234 5678 9876 5432" [(ngModel)]="cardNumber">
  
            <h2>Срок действия</h2>
            <input type="text" name="expiryDate" placeholder="MM/YY" [(ngModel)]="expiryDate">
  
            <h2>CVV</h2>
            <input type="text" name="cvv" placeholder="123" [(ngModel)]="cvv">
          </div>
  
          <button type="submit">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
  