.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
    background-color: rgb(0, 0, 0);
    width: 110%;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

h2 {
    color: white;
    font-weight: bold;
}

.container {
    width: 400px;
    background-color: rgb(28, 25, 25);
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 4%;
}

.signup-box {
    text-align: left;
    width: 100%;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    background-color: rgb(28, 25, 25);
    margin-left: -1%;
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
    transform-origin: center;
}

.input-box input:focus {
    border-color: white;
    transform: scale(1.01);
}
input {
    color: white;
}
  

p {
    color: white;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.btn {
    display: block;
    width: 107%;
    padding: 15px;
    background-color: #3462d6;
    color: #000000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 16px;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.btn:hover {
    background-color: #3462d6;
    border: white;
    transform: scale(1.01);
}
.webplayer-logo {
    width: 100px;
    margin-bottom: 30px;
    object-fit: cover;
    
}

.login_types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login_types button {
    width: 108%;
    margin: 1%;
    padding: 15px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: rgb(28, 25, 25);
    margin-left: 5%;
}

.login_types button:hover {
    border: 1
}

.line-container {
    display: flex;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 4%;
    }

    .line {
        flex: 1;
        border-bottom: 1px solid rgb(194, 191, 191);
    }

    #ili {
        margin: 0 15px;
        color: gray;
    }

    .signup-link {
        display: flex;
        align-items: center; /* Выравнивание элементов по вертикали */
        margin-top: 20px; /* Отступ сверху */
    }
    
    .signup-link p {
        margin-right: 10px; /* Отступ между текстом и ссылкой */
        color: white;
        font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
        font-size: 14px;
    }
    
    .signup-link a {
        color: #1db954; /* Цвет ссылки */
        text-decoration: underline; /* Удаление подчеркивания */
        font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    }

    .invalid-input {
        border: 1px solid red;
      }
      
      .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
      